@import url("https://use.typekit.net/kxw0mxk.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: alternate-gothic-compressed,sans-serif;
  font-weight: 700;
  font-style: normal;
  background-image: radial-gradient(circle, #605b5c, #535051, #474546, #3b3a3b, #303030);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
