.container {
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100vw;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
}

.main {
  max-width: 420px;
  margin: 0 auto;
  position: relative;
}

.imageContainer {
  position: absolute;
  left: 32px;
  right: 32px;
  top: 96px;
  bottom: 10%;
  max-width: 480px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header {
  position: absolute;
  top: 32px;
  left: 32px;
  right: 32px;
  display: flex;
  flex-direction: row;
}

.headerTitle {
  color: white;
  font-size: 1.5em;
  font-family: 'Waiting for the Sunrise', cursive;
}